In [32]:
#Importando Classe Pandas
import pandas as pd
import datetime

In [33]:
#Leitura do arquivo XLS... obs Mudar o caminho do arquivo abaixo em caso de teste ...
data = pd.read_excel("/content/drive/MyDrive/ExcelRaizen.xlsx",  sheet_name='Sheet1')

In [34]:
#Leitura Inicial dos dados
print(data.head())
data.dtypes

  UN. DA FEDERAÇÃO   ANO      Dados                     PRODUTO UNIDADE  Total
0             ACRE  2013    Janeiro  ÓLEO DIESEL (OUTROS ) (m3)      m3    8.0
1             ACRE  2013  Fevereiro  ÓLEO DIESEL (OUTROS ) (m3)      m3    8.0
2             ACRE  2013      Março  ÓLEO DIESEL (OUTROS ) (m3)      m3   58.0
3             ACRE  2013      Abril  ÓLEO DIESEL (OUTROS ) (m3)      m3   17.0
4             ACRE  2013       Maio  ÓLEO DIESEL (OUTROS ) (m3)      m3    0.0

UN. DA FEDERAÇÃO     object
ANO                   int64
Dados                object
PRODUTO              object
UNIDADE              object
Total               float64
dtype: object

In [48]:
#Renomeand as colunas com o padrao solicitado no GIT
#Adicionando a coluna Created_AT 
#Verificando o novo layout dos dados
data1 = data.rename(columns={'UN. DA FEDERAÇÃO': 'UF','ANO':'Year','Dados':'Month','PRODUTO':'Product','UNIDADE':'Unit','Total':'Volume'},inplace=False)
data1['Created_at'] = pd.Timestamp.today()
print(data1)

              UF  Year      Month  ... Unit    Volume                 Created_at
0           ACRE  2013    Janeiro  ...   m3      8.00 2021-07-02 19:39:25.974052
1           ACRE  2013  Fevereiro  ...   m3      8.00 2021-07-02 19:39:25.974052
2           ACRE  2013      Março  ...   m3     58.00 2021-07-02 19:39:25.974052
3           ACRE  2013      Abril  ...   m3     17.00 2021-07-02 19:39:25.974052
4           ACRE  2013       Maio  ...   m3      0.00 2021-07-02 19:39:25.974052
...          ...   ...        ...  ...  ...       ...                        ...
12955  TOCANTINS  2020     Agosto  ...   m3  38864.19 2021-07-02 19:39:25.974052
12956  TOCANTINS  2020   Setembro  ...   m3  39696.75 2021-07-02 19:39:25.974052
12957  TOCANTINS  2020    Outubro  ...   m3       NaN 2021-07-02 19:39:25.974052
12958  TOCANTINS  2020   Novembro  ...   m3       NaN 2021-07-02 19:39:25.974052
12959  TOCANTINS  2020   Dezembro  ...   m3       NaN 2021-07-02 19:39:25.974052

[12960 rows x 7 columns]

In [49]:
#Criacao de uma estrutura de apoio para converter os meses em numeros
#Concatenacao dos campos Year + Month
look_up = {'Janeiro': '1', 'Fevereiro': '2', 'Março': '3', 'Abril': '4', 'Maio': '5',
            'Junho': '6', 'Julho': '7', 'Agosto': '8', 'Setembro': '9', 'Outubro': '10', 'Novembro': '11', 'Dezembro': '12'}
data1['Month'] = data1['Month'].apply(lambda x: look_up[x])
data1['Volumne'] = data1['Volume'].fillna(0)
data1['Year_Month'] = pd.to_datetime(data1['Year'].map(str) + data1['Month'], format="%Y%m")
print(data1)
data1.dtypes

              UF  Year Month  ...                 Created_at   Volumne  Year_Month
0           ACRE  2013     1  ... 2021-07-02 19:39:25.974052      8.00  2013-01-01
1           ACRE  2013     2  ... 2021-07-02 19:39:25.974052      8.00  2013-02-01
2           ACRE  2013     3  ... 2021-07-02 19:39:25.974052     58.00  2013-03-01
3           ACRE  2013     4  ... 2021-07-02 19:39:25.974052     17.00  2013-04-01
4           ACRE  2013     5  ... 2021-07-02 19:39:25.974052      0.00  2013-05-01
...          ...   ...   ...  ...                        ...       ...         ...
12955  TOCANTINS  2020     8  ... 2021-07-02 19:39:25.974052  38864.19  2020-08-01
12956  TOCANTINS  2020     9  ... 2021-07-02 19:39:25.974052  39696.75  2020-09-01
12957  TOCANTINS  2020    10  ... 2021-07-02 19:39:25.974052      0.00  2020-10-01
12958  TOCANTINS  2020    11  ... 2021-07-02 19:39:25.974052      0.00  2020-11-01
12959  TOCANTINS  2020    12  ... 2021-07-02 19:39:25.974052      0.00  2020-12-01

[12960 rows x 9 columns]

UF                    object
Year                   int64
Month                 object
Product               object
Unit                  object
Volume               float64
Created_at    datetime64[ns]
Volumne              float64
Year_Month    datetime64[ns]
dtype: object

# New section

In [50]:
#Definindo um novo lauyout com um novo DataFrame
data2 = pd.DataFrame(data1, columns = ['Year_Month','UF','Product','Unit','Volume','Created_at'])
print(data2)
data2.dtypes

      Year_Month         UF  ...    Volume                 Created_at
0     2013-01-01       ACRE  ...      8.00 2021-07-02 19:39:25.974052
1     2013-02-01       ACRE  ...      8.00 2021-07-02 19:39:25.974052
2     2013-03-01       ACRE  ...     58.00 2021-07-02 19:39:25.974052
3     2013-04-01       ACRE  ...     17.00 2021-07-02 19:39:25.974052
4     2013-05-01       ACRE  ...      0.00 2021-07-02 19:39:25.974052
...          ...        ...  ...       ...                        ...
12955 2020-08-01  TOCANTINS  ...  38864.19 2021-07-02 19:39:25.974052
12956 2020-09-01  TOCANTINS  ...  39696.75 2021-07-02 19:39:25.974052
12957 2020-10-01  TOCANTINS  ...       NaN 2021-07-02 19:39:25.974052
12958 2020-11-01  TOCANTINS  ...       NaN 2021-07-02 19:39:25.974052
12959 2020-12-01  TOCANTINS  ...       NaN 2021-07-02 19:39:25.974052

[12960 rows x 6 columns]

Year_Month    datetime64[ns]
UF                    object
Product               object
Unit                  object
Volume               float64
Created_at    datetime64[ns]
dtype: object

# New section